.filter {
    margin-block: 20px 40px;
}

.filter__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
}

.filter__search {
    position: relative;
    display: block;
}

.filter__search input {
    width: 100%;
}

.filter__search input::placeholder {
    padding-left: 40px;
}

.filter__search svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.filter__iconSearch {
    left: 34px;
    font-size: 1.2em;
}

.filter__iconClear {
    right: 0;
    cursor: pointer;
    display: none;
}

.filter__search input:valid ~ .filter__iconSearch {
    display: none;
}

.filter__search input:valid ~ .filter__iconClear {
    display: block;
}

.filter__by select {
    width: 100%;
}

.list {
    margin-block: 40px 20px;
}

.list__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 320px;
}

.list__empty, .list__loading {
    text-align: center;
    grid-column-start: 1;
}

@media screen and (min-width: 768px) {
    .filter, .list {
        margin-block: 60px;
    }

    .filter__by select {
        width: auto;
    }

    .list__container {
        max-width: var(--container-width);
        grid-template-columns: repeat(3, 1fr);
    }

    .list__empty, .list__loading {
        grid-column-end: 4;
    }
}

@media screen and (min-width: 992px) {
    .filter__container {
        flex-direction: row;
    }

    .filter__search input {
        width: 110%;
    }

    .list__container {
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }

    .list__empty, .list__loading {
        grid-column-end: 5;
    }
}