.select {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: var(--font-weight-semibold);
    min-width: 200px;
}

.select__header {
    padding: 20px 60px 20px 34px;
    border: none !important;
    border-radius: 5px !important;
    margin-top: 5px;
    background-color: var(--color-background-elements);
    color: var(--color-text);
    box-shadow: var(--shadow);
}

.select__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: var(--transition);
    pointer-events: none;
}

.select__iconOpen {
    transform: translateY(-50%) rotate(180deg);
}

.select__dropdown {
    min-width: 100%;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
}

.select__list {
    overflow: hidden;
    background-color: var(--color-background-elements);
    border-radius: 5px;
    box-shadow: var(--shadow);
    min-width: 100%;
}

.select__option {
    padding: 10px 20px;
    transition: var(--transition);
    min-width: 100%;
}

.select__option:hover,
.select__option.selected {
    background-color: var(--color-background);
}