.select {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.select select, .select ::picker(select) {
    appearance: base-select;
}

.select select {
    padding-inline: 20px 60px;
}

.select ::picker(select) {
    border: none !important;
    border-radius: 5px !important;
    margin-top: 5px;
    background-color: var(--color-background-elements);
    color: var(--color-text);
    box-shadow: var(--shadow);
}

.select select::picker-icon {
    display: none;
}

.select select:open ~ svg {
    transform: translateY(-50%) rotate(180deg);
}

.select svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: var(--transition);
    pointer-events: none;
}

.select option {
    padding: 10px 20px;
    outline: none;
}

.select option::checkmark {
    display: none;
}