.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 60px;
    height: 60px;
    border: 6px solid var(--color-grey-400);
    border-radius: 50%;
    position: relative;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border: 6px solid transparent;
    border-top-color: var(--color-grey-50);
    border-radius: 50%;
    animation: loading-spin 1s infinite linear;
}

@keyframes loading-spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}