#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root main {
  flex-grow: 1;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 10px 30px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--font-weight-light);
  background-color: var(--color-background-elements);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: var(--shadow);
}

.button.clear {
  padding: 0;
  background: none;
  box-shadow: none;
}