@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  /* COLORS */
  /* Neutral */
  --color-blue-900: hsl(209, 23%, 22%);
  --color-blue-950: hsl(207, 26%, 17%);
  --color-grey-950: hsl(200, 15%, 8%);
  --color-grey-400: hsl(0, 0%, 50%);
  --color-grey-50: hsl(0, 0%, 99%);
  --color-white: hsl(0, 100%, 100%);

  /* Themes */
  --color-background: var(--color-blue-950);
  --color-background-elements: var(--color-blue-900);
  --color-text: var(--color-white);

  /* TYPOGRAPHY */
  /* Body Copy */
  --font-size-homepage-items: 14px;
  --font-size-detail-page: 16px;

  /* Fonts */
  --font-nunito-sans: "Nunito Sans", sans-serif;
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-extrabold: 800;

  /* Container */
  --container-width: 1280px;
  --container-clearance: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-nunito-sans);
  font-size: var(--font-size-detail-page);
  background-color: var(--color-blue-950);
  color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  vertical-align: middle;
}