@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  /* COLORS */
  /* Neutral */
  --color-blue-900: hsl(209, 23%, 22%);
  --color-blue-950: hsl(207, 26%, 17%);
  --color-grey-950: hsl(200, 15%, 8%);
  --color-grey-400: hsl(0, 0%, 50%);
  --color-grey-50: hsl(0, 0%, 99%);
  --color-white: hsl(0, 100%, 100%);

  /* Themes */
  --color-background: var(--color-blue-950);
  --color-background-elements: var(--color-blue-900);
  --color-text: var(--color-white);

  /* Shadow */
  --shadow: 0 0 3px 1px hsla(200, 15%, 8%, 0.2);

  /* TYPOGRAPHY */
  /* Body Copy */
  --font-size-homepage-items: 14px;
  --font-size-detail-page: 16px;

  /* Fonts */
  --font-nunito-sans: "Nunito Sans", sans-serif;
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-extrabold: 800;

  /* CONTAINER */
  --container-width: 1280px;
  --container-clearance: 20px;

  /* TRANSITION */
  --transition: all 0.3s ease;

  /* BORDER RADIUS */
  --radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-nunito-sans);
  font-size: var(--font-size-detail-page);
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: var(--font-weight-light);
  transition: var(--transition);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-extrabold);
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  vertical-align: middle;
}

input, select {
  padding: 20px 34px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--font-weight-semibold);
  outline: none;
  background-color: var(--color-background-elements);
  box-shadow: var(--shadow);
  transition: var(--transition);
  border: none;
  border-radius: var(--radius);
}

input::placeholder {
  color: var(--color-text);
  transition: var(--transition);
}

img {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

strong {
  font-weight: var(--font-weight-semibold);
}